h1 {
    font-family: 'Times New Roman', sans-serif;
    color: #add8e6;
    border: 5px solid pink;
    display: inline-block;
}

h2 {
    color: red;
    border: 5px solid green;
    display: inline-block;
}

p {
    font-weight: bold;
}


